.footer {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(19, 19, 19);
    font-family: "Josefin Sans", sans-serif;
    p {
        font-size: 16px;
        a {
            color: rgb(9, 53, 163);
            cursor: pointer;
        }
    }
    h4 {
        font-size: 12px;
        font-weight: 100;
    }
}
